.footer
    .container
        .footer__wrapper
            .footer__item.footer__item--logo
                a(href="/").footer__logo
                    img(src="img/pngsprite/logo-footer.png")
                .footer__menu
                    a(href="#").header__menu__item.header__menu__item--calc Калькулятор
                    a(href="#").header__menu__item.header__menu__item--zaim Вызвать замерщика
                    a(href="#").header__menu__item.header__menu__item--action Акции
            .footer__item.footer__item--zakaz
                span.footer__title У нас вы еще можете заказать:
                a(href="#").footer__text Матовые потолки
                a(href="#").footer__text Глянцевые потолки
                a(href="#").footer__text Многоуровненвые потолки
                a(href="#").footer__text Тканевые потолки
                a(href="#").footer__text Натяжные стены

            .footer__item.footer__item--tel
                span.footer__title наши контакты:
                .footer__adress-wrap
                    span.footer__adress-title Адрес:
                    span.footer__adress-text г. Москва, Красная Площадь, д.1
                .footer__adress-wrap
                    span.footer__adress-title Телефон:
                    a(href="tel:89138343434").footer__adress-text 8(913) 834-34-34

            .footer__item.footer__item--soc
                .footer__social
                    a(href="#").footer__fb
                    a(href="#").footer__vk
                    a(href="#").footer__ok
                    a(href="#").footer__yt
                .footer__adress-wrap
                    span.footer__adress-title E-mail:
                    a(href="mailto:stanx@mail.ru").footer__adress-text stanx@mail.ru