.header
    .container
        .header__wrapper
            a(href="/").header__logo
                img(src="img/pngsprite/logo.png" alt="")
            .header__menu
                a(href="#").header__menu__item.header__menu__item--calc Калькулятор
                a(href="#").header__menu__item.header__menu__item--action Акции
                a(href="#").header__menu__item.header__menu__item--zaim Вызвать замерщика
            .header__info
                a(href="tel:88120123535").header__info__tel 8 (812) 012-35-35
                span.header__info__text Ежедневно с 10:00 до 22:00
